<html>
<body>
<div>
    <img src="cid:image" alt="header_email">
</div>
<br/>
<h3>Ol&aacute;, ${usuario}</h3>
<p>Muito obrigado por se cadastrar no VistorieJ&aacute;! Agora voc&ecirc; tem acesso a melhor
    plataforma de vistorias online</p><br/>
<span>Aqui n&oacute;s garantimos um trabalho excelente, vamos come&otilde;ar?</span><br/>
<button value="Clique aqui" style="background-color: #12528e; color: #ffffff;">
    <a href="http://www.vistorieja.com.br"></a>
</button>

<br/>
<br/>
<br/>

<span style="color: #214474; font-size: 11px">Configura&ccedil;&otilde;es de notifica&ccedil;&otilde;es / Pol&iacute;tica de privacidade / Termos<br/>
<a href="http://www.vistorieja.com.br" style="text-decoration: none;color: #214474;">VistorieJ&aacute;-2018</a> </span>
</body>
</html>