<html>
<body>
<div>
    <img src="cid:image" alt="header_email">
</div>
<br/>
<h3>Ol&aacute;, ${usuario}</h3>
<p>Seja muito bem-vindo(a) ao <span style="color:#214474; font-weight: bold">VistorieJ&aacute;!</span></p>
Por favor confirme o seu email acessando o link abaixo:<br/>
    ${link}<br/>

<br/>
<br/>
<br/>

<span style="text-decoration: none; color: #214474; font-size: 11px">Configura&ccedil;&otilde;es de notifica&ccedil;&otilde;es / Pol&iacute;tica de privacidade / Termos<br/>
<a href="http://www.vistorieja.com.br">VistorieJ&aacute;-2018</a> </span>
</body>
</html>